{% extends "base.html" %}
{% load url from future %}

{% block content %}
<p>You are logged in as {{ user.username }}!</p>

<p>Associated:</p>
{% for assoc in backends.associated %}
  <div>
    <strong>{{ assoc.provider }}</strong>
    <form action="{% url 'social:disconnect_individual' assoc.provider assoc.id %}" method="post">{% csrf_token %}
      <button>Disconnect</button>
    </form>
  </div>
{% endfor %}

<p>Associate:</p>
<ul>
  {% for name in backends.not_associated %}
    <li>
      <a href="{% url 'social:begin' name %}">{{ name }}</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
