global-include *.py

include *.txt CHANGELOG.md LICENSE README.rst
recursive-include docs *.rst
recursive-include social/tests *.txt

graft examples

recursive-exclude .tox *
recursive-exclude social *.pyc
recursive-exclude examples *.pyc
recursive-exclude examples *.db
recursive-exclude examples local_settings.py
recursive-exclude examples/webpy_example/sessions *
