python3-openid>=3.0.9
requests>=2.9.1
oauthlib>=1.0.3
requests-oauthlib>=0.6.1
six>=1.10.0
PyJWT>=1.4.0
social-auth-core
social-auth-storage-mongoengine
social-auth-storage-peewee
social-auth-storage-sqlalchemy
social-auth-app-cherrypy
social-auth-app-django
social-auth-app-django-mongoengine
social-auth-app-flask
social-auth-app-flask-mongoengine
social-auth-app-flask-peewee
social-auth-app-flask-sqlalchemy
social-auth-app-pyramid
social-auth-app-tornado
social-auth-app-webpy
