<!doctype html>
<html>
  <head>
    <title>Social</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}

    <form method="post" action="" id="disconnect-form"></form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
          $(document).on('click', 'a.disconnect', function (e) {
              e.preventDefault();
              $('form#disconnect-form')
                  .attr('action', $(this).attr('href'))
                  .submit();
          });
      });
    </script>
  </body>
</html>
