{% extends "base.html" %}

{% block content %}
Logged in as {{ user.username }}!

<p>Associated:</p>
<ul>
  {% for assoc in backends["associated"] %}
    <li>
      {{ assoc.provider }} (<form action="/disconnect/{{ assoc.provider }}/{{ assoc.id }}/" method="post"><input type="submit" value="Disconnect" /></form>)
    </li>
  {% endfor %}
</ul>

<p>Associate:</p>
<ul>
  {% for name in backends["not_associated"] %}
    <li>
      <a href="/login/{{ name }}/">{{ name }}</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
