{% extends "base.html" %}

{% block content %}
<a href="{% url socialauth_begin "google-oauth2" %}">Google OAuth2</a> <br />
<a href="{% url socialauth_begin "google-oauth" %}">Google OAuth</a> <br />
<a href="{% url socialauth_begin "google" %}">Google OpenId</a> <br />
<a href="{% url socialauth_begin "twitter" %}">Twitter</a> <br />
<a href="{% url socialauth_begin "yahoo" %}">Yahoo</a> <br />
<a href="{% url socialauth_begin "stripe" %}">Stripe</a> <br />

<form action="{% url socialauth_begin "openid" %}" method="post">{% csrf_token %}
  <div>
    <label for="openid_identifier">OpenId provider</label>
    <input id="openid_identifier" type="text" value="" name="openid_identifier" />
    <input type="submit" value="Login" />
  </div>
</form>
{% endblock %}
