{% extends "base.html" %}
{% load url from future %}

{% block content %}
<p>You are logged in as {{ user.username }}!</p>

<p>Associated:</p>
<ul>
  {% for assoc in backends.associated %}
    <li>
      {{ assoc.provider }} (<a href="{% url 'social:disconnect_individual' assoc.provider assoc.id %}" class="disconnect">Disconnect</a> or <a href="/logout/">logout</a>)
    </li>
  {% endfor %}
</ul>

<p>Associate:</p>
<ul>
  {% for name in backends.not_associated %}
    <li>
      <a href="{% url 'social:begin' name %}">{{ name }}</a>
    </li>
  {% endfor %}
</ul>

{% if plus_id %}
<div id="signinButton">
  <span class="g-signin" data-scope="{{ plus_scope }}"
                         data-clientid="{{ plus_id }}"
                         data-redirecturi="postmessage"
                         data-accesstype="offline"
                         data-cookiepolicy="single_host_origin"
                         data-callback="signInCallback">
  </span>
</div>
<div id="result"></div>
{% endif %}
{% endblock %}

{% block head_scripts %}
{% if plus_id %}
<!-- Google+ Sign In -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
  (function () {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();
</script>

<script type="text/javascript">
  var signInCallback = function (result) {
      if (result['error']) {
        alert('An error happened:', result['error']);
      } else {
        $('#code').attr('value', result['code']);
        $('#at').attr('value', result['access_token']);
        $('#google-plus').submit();
      }
  };
</script>
{% endif %}
{% endblock %}
